{% extends "base.html" %}
{% block title %}
    Edit Offered Gift
{% endblock %}

{% block content %}
<div class="container my-2">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1>Edit Offered Gift</h1>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil-square"></i> Update</button>
        <a href="{% url 'gift_list' %}" class="btn btn-sm btn-outline-dark"><i class="bi bi-x-lg"></i> Cancel</a>
    </form>
</div>
{% endblock %}
